.sub-bill__title:after {
  content: '';
  margin-left: 0.5em;
  display: inline-block;
  width: 8px;
  height: 16px;
  background-image: url(/resources/arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: transform 0.15s ease-in-out;
  transform-origin: center center;

  .hidden & {
    transform: rotate(90deg);
  }
}

.sub-bill__content {
  .hidden & {
    display: none;
  }

  table {
    width: 100%;
  }

  thead {
    background-color: $color-dark;
  }

  th {
    color: $color-light;
    text-transform: capitalize;
  }

  tbody tr:nth-child(odd) {
    background-color: $color-light;
  }

  th, td {
    text-align: center;
  }
}

@media (max-width: $bp-tablet) {
  .sub-bill__content {
    thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody tr:nth-child(odd) {
      background-color: inherit;
    }

    td {
      border: none;
      position: relative;
      padding-left: 30%;
      text-align: left;
      background-color: $color-light;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        white-space: nowrap;
        content: attr(data-type);
        text-transform: capitalize;
        background-color: $color-dark;
        color: $color-light;
      }
    }
  }
}
